<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class ="title">Anuncios</h2>
  <% if !@curr_user.admin %>
    <%= link_to 'Nuevo Anuncio', new_announcement_path, class: "btn btn-primary" %>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th class="text-center">Descripción</th>
        <th class="text-center">Fecha</th>
        <th colspan="3" class="text-center">Acciones</th>
      </tr>
    </thead>
      <tbody>
      <% @announcements.each do |announcement| %>
        <tr>
          <td class="text-center"><%= announcement.description %></td>
          <td class="text-center"><%= announcement.date.strftime("%I:%M %d-%m-%Y") %></td>
          <td class="text-center">
            <%= link_to announcement do %>
              <i class="btn fas fa-eye fa-sm text-primary" aria-hidden="true"></i>
            <%end%>
          </td>
          <td class="text-center">
            <%= link_to edit_announcement_path(announcement) do %>
              <i class="btn fas fa-edit fa-sm text-primary" aria-hidden="true"></i>
            <%end%>
          </td>
          <td class="text-center">
            <%= link_to announcement, method: :delete, data: { confirm: 'Esta Seguro?' } do%>
              <i class="btn fa fa-trash-alt fa-sm text-danger" aria-hidden="true"></i>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
