<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class ="title">Anuncios</h2>
  <% if !@curr_user.admin %>
    <%= link_to 'Nuevo Anuncio', new_announcement_path, class: "btn btn-primary" %>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th>Descripción</th>
        <th>Fecha</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
      <% @announcements.each do |announcement| %>
        <tr>
          <td><%= announcement.description %></td>
          <td><%= announcement.date %></td>
          <td><%= link_to 'Mostrar', announcement %></td>
          <td><%= link_to 'Editar', edit_announcement_path(announcement) %></td>
          <td><%= link_to 'Borrar', announcement, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
