<div class="container">
  <h2 class="title">Mostrar Materia</h2>
  <p id="notice"><%= notice %></p>

  <p class="text-center">
    <strong>Nombre:</strong>
    <%= @course.name %>
  </p>

  <p class="text-center">
    <strong>Clave:</strong>
    <%= @course.code %>
  </p>

  <p class="text-center">
    <strong>CLU del Curso:</strong>
    <%= @course.clu_course %>
  </p>

  <p class="text-center">
    <strong>CLU del Laboratorio:</strong>
    <%= @course.clu_laboratory %>
  </p>

  <p class="text-center">
    <strong>CLU Unidades:</strong>
    <%= @course.clu_unities %>
  </p>

  <p class="text-center">
    <strong>Activo Este Semestre:</strong>
    <%= @course.status %>
  </p>

  <p class="text-center">
    <strong>Tipo de Curso:</strong>
    <%= @course.course_type %>
  </p>

  <p class="text-center">
    <strong>Información:</strong>
    <%= @course.information %>
  </p>

</div>


