<div class="container">
  <h2 class="title">Mostrar Vinculacion</h2>
  <p id="notice"><%= notice %></p>

  <p class="text-center">
    <strong>Nombre:</strong>
    <%= @link.name %>
  </p>

  <p class="text-center">
    <strong>Descripcion:</strong>
    <%= @link.description %>
  </p>

  <p class="text-center">
    <strong>Participantes:</strong>
    <%= @link.participants %>
  </p>

  <p class="text-center">
    <strong>Fecha de Inicio:</strong>
    <%= @link.start_date %>
  </p>

  <p class="text-center">
    <strong>Fecha de Fin:</strong>
    <%= @link.end_date %>
  </p>

  <p class="text-center">
    <strong>URL:</strong>
    <%= @link.url %>
  </p>

  <p class="text-center">
    <strong>Tipo de Vinculacion:</strong>
    <%= @link.link_type %>
  </p>
</div>
