<div class="container">
  <%= form_with(html:{ class:"form" } , model: document, local: true) do |form| %>
    <% if document.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

        <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :Descripción %>
      <%= form.text_field :description, class:"form-control" , placeholder: "Descripción"  %>
    </div>

    <div class="form-group">
      <%= form.label :url %>
      <%= form.text_field :url, class:"form-control" , placeholder: "URL"  %>
    </div>

    <div class="actions">
      <%= form.submit 'Guardar', :class => 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>
</div>