<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class ="title">Documentos</h2>
  <% if !@curr_user.admin %>
    <%= link_to 'Nuevo Documento', new_document_path, class: "btn btn-primary" %>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th class="text-center">Descripción</th>
        <th class="text-center">URL</th>
        <th colspan="3" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="text-center"><%= document.description %></td>
          <td class="text-center"><%= link_to nil, "http://#{document.url}"%></td>
          <td class="text-center">
            <%= link_to document do %>
              <i class="btn fas fa-eye fa-sm text-primary" aria-hidden="true"></i>
            <%end%>
          </td>
          <td class="text-center">
            <%= link_to edit_document_path(document) do %>
              <i class="btn fas fa-edit fa-sm text-primary" aria-hidden="true"></i>
            <%end%>
          </td>
          <td class="text-center">
            <%= link_to document, method: :delete, data: { confirm: 'Esta Seguro?' } do%>
              <i class="btn fa fa-trash-alt fa-sm text-danger" aria-hidden="true"></i>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


