<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class ="title">Profesores</h2>
  <% if @curr_user.admin%>
    <%= link_to 'Nuevo Profesor', new_professor_path, class: "btn btn-primary" %>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Email</th>
        <th class="text-center">Oficina</th>
        <th class="text-center">Resumen</th>
        <th colspan="3" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @professors.each do |professor| %>
        <tr>
          <td class="text-center"><%= professor.name %> <%= professor.father_last_name %> <%= professor.mother_last_name %></td>
          <td class="text-center"><%= professor.email %></td>
          <td class="text-center"><%= professor.office %></td>
          <td class="text-center"><%= professor.resume %></td>
          <td class="text-center">
            <%= link_to professor do %>
              <i class="btn fas fa-eye fa-sm text-primary" aria-hidden="true"></i>
            <%end%>
          </td>
          <td class="text-center">
            <%= link_to edit_professor_path(professor) do %>
              <i class="btn fas fa-edit fa-sm text-primary" aria-hidden="true"></i>
            <%end%>
          </td>
          <td class="text-center">
            <%= link_to professor, method: :delete, data: { confirm: 'Esta Seguro?' } do%>
              <i class="btn fa fa-trash-alt fa-sm text-danger" aria-hidden="true"></i>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
