<div class="container">
  <p id="notice"><%= notice %></p>
  <h2 class ="title">Vinculaciones</h2>
  <% if @curr_user.admin%>
    <%= link_to 'Nueva Vinculación', new_link_path, class: "btn btn-primary" %>
  <% end %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Participantes</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Cierre</th>
        <th>Tipo</th>
        <th>URL</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.name %></td>
          <td><%= link.description %></td>
          <td><%= link.participants %></td>
          <td><%= link.start_date %></td>
          <td><%= link.end_date %></td>
          <td><%= link.link_type %></td>
          <td><%= link.url %></td>
          <td><%= link_to 'Mostrar', link %></td>
          <td><%= link_to 'Editar', edit_link_path(link) %></td>
          <td><%= link_to 'Borrar', link, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
