<div class="container">
  <h2 class="title">Mostrar Vinculación</h2>
  <p id="notice"><%= notice %></p>

  <p class="text-center">
    <strong>Nombre:</strong>
    <%= @link.name %>
  </p>

  <p class="text-center">
    <strong>Descripción:</strong>
    <%= @link.description %>
  </p>

  <p class="text-center">
    <strong>Participantes:</strong>
    <%= @link.participants %>
  </p>

  <p class="text-center">
    <strong>Fecha de Inicio:</strong>
    <%= @link.start_date %>
  </p>

  <p class="text-center">
    <strong>Fecha de cierre:</strong>
    <%= @link.end_date %>
  </p>

  <p class="text-center">
    <strong>Tipo de Proyecto:</strong>
    <%= @link.type %>
  </p>

  <p class="text-center">
    <strong>URL:</strong>
    <%= @link.url %>
  </p>

  <p class="text-center">
    <%= link_to 'Editar', edit_link_path(@link) , :class => 'btn btn-sm btn-primary'%> |
    <%= link_to 'Regresar', links_path, :class => 'btn btn-sm btn-primary' %>
  </p>
</div>


