<div class="container">
  <%= form_for(resource, html:{ class:"form" }, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="form-heading">Iniciar Sesi칩n</h2>
      <div class="form-fields">
        <%= f.label :correo %><br />
        <%= f.email_field :email, class:"form-control", placeholder: "Correo" ,autofocus: true, autocomplete: "email" %>
        
        <%= f.label :contrase침a %>
        <%= f.password_field :password, class:"form-control", placeholder: "Contrase침a" , autocomplete: "current-password" %>
      </div>
       <%= f.submit "Iniciar Sesi칩n" , class:"btn btn-lg btn-primary btn-block" %>
      <%= render "devise/shared/links" %>
  <% end %>
</div>