<div class="container">
  <%= form_for(resource, html:{ class:"form" }, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="form-heading">Log in</h2>
      <div class="form-fields">
        <%= f.email_field :email, class:"form-control", placeholder: "email" ,autofocus: true, autocomplete: "email" %>
        <%= f.password_field :password, class:"form-control", placeholder: "password" , autocomplete: "current-password" %>
      </div>
       <%= f.submit "Log in" , class:"btn btn-lg btn-primary btn-block" %>
      <%= render "devise/shared/links" , class:"text-center",style:"margin-top:10px" %>
  <% end %>
</div>