<p id="notice"><%= notice %></p>

<h1>Materia</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th>Clu clases</th>
      <th>Clu laboratorio</th>
      <th>Clu unidades</th>
      <th>Estatus</th>
      <th>Tipo</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materia.each do |materium| %>
      <tr>
        <td><%= materium.nombre %></td>
        <td><%= materium.clave %></td>
        <td><%= materium.clu_clases %></td>
        <td><%= materium.clu_laboratorio %></td>
        <td><%= materium.clu_unidades %></td>
        <td><%= materium.estatus %></td>
        <td><%= materium.tipo %></td>
        <td><%= materium.info %></td>
        <td><%= link_to 'Show', materium %></td>
        <td><%= link_to 'Edit', edit_materium_path(materium) %></td>
        <td><%= link_to 'Destroy', materium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materium', new_materium_path %>
