<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :clu_course %>
    <%= form.number_field :clu_course %>
  </div>

  <div class="field">
    <%= form.label :clu_laboratory %>
    <%= form.number_field :clu_laboratory %>
  </div>

  <div class="field">
    <%= form.label :clu_unities %>
    <%= form.number_field :clu_unities %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :course_type %>
    <%= form.number_field :course_type %>
  </div>

  <div class="field">
    <%= form.label :information %>
    <%= form.text_field :information %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
