<div class="container">
<h2 class ="title">Materias</h2>
<p id="notice"><%= notice %></p>
<% if @curr_user.admin%>
    <%= link_to 'Nueva Materia', new_course_path, class: "btn btn-primary" %>
  <% end %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th>CLU Materias</th>
      <th>CLU Laboratorio</th>
      <th>CLU Unidades</th>
      <th>Activo Este Semestre</th>
      <th>Tipo</th>
      <th>Información</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.clu_course %></td>
        <td><%= course.clu_laboratory %></td>
        <td><%= course.clu_unities %></td>
        <td><%= course.status %></td>
        <td><%= course.course_type %></td>
        <td><%= course.information %></td>
        <td><%= link_to 'Mostrar', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Borrar', course, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
             
