<div class="container">
  <h1 class="title">Curso</h1>
  <p id="notice"><%= notice %></p>

  <p class="text-center">
    <strong>Nombre:</strong>
    <%= @course.name %>
  </p>

  <p class="text-center">
    <strong>Clave:</strong>
    <%= @course.code %>
  </p>

  <p class="text-center">
    <strong>CLU del Curso:</strong>
    <%= @course.clu_course %>
  </p>

  <p class="text-center">
    <strong>CLU del Laboratorio:</strong>
    <%= @course.clu_laboratory %>
  </p>

  <p class="text-center">
    <strong>CLU Unidades:</strong>
    <%= @course.clu_unities %>
  </p>

  <p class="text-center">
    <strong>Activo Este Semestre:</strong>
    <%= @course.status %>
  </p>

  <p class="text-center">
    <strong>Tipo de Curso:</strong>
    <%= @course.course_type %>
  </p>

  <p class="text-center">
    <strong>Información:</strong>
    <%= @course.information %>
  </p>

  <p class="text-center">
    <%= link_to 'Editar', edit_course_path(@course) , :class => 'btn btn-sm btn-primary'%> |
    <%= link_to 'Regresar', courses_path, :class => 'btn btn-sm btn-primary' %>
  </p>
</div>


