<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @course.code %>
  </p>

  <p>
    <strong>Clu course:</strong>
    <%= @course.clu_course %>
  </p>

  <p>
    <strong>Clu laboratory:</strong>
    <%= @course.clu_laboratory %>
  </p>

  <p>
    <strong>Clu unities:</strong>
    <%= @course.clu_unities %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @course.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @course.type %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= @course.information %>
  </p>

  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>