<p id="notice"><%= notice %></p>

<h1>Vinculacions</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Participantes</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Tipo</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vinculacions.each do |vinculacion| %>
      <tr>
        <td><%= vinculacion.nombre %></td>
        <td><%= vinculacion.descripcion %></td>
        <td><%= vinculacion.participantes %></td>
        <td><%= vinculacion.fecha_inicio %></td>
        <td><%= vinculacion.fecha_fin %></td>
        <td><%= vinculacion.tipo %></td>
        <td><%= vinculacion.url %></td>
        <td><%= link_to 'Show', vinculacion %></td>
        <td><%= link_to 'Edit', edit_vinculacion_path(vinculacion) %></td>
        <td><%= link_to 'Destroy', vinculacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vinculacion', new_vinculacion_path %>
