<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vinculacion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @vinculacion.descripcion %>
</p>

<p>
  <strong>Participantes:</strong>
  <%= @vinculacion.participantes %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @vinculacion.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @vinculacion.fecha_fin %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vinculacion.tipo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @vinculacion.url %>
</p>

<%= link_to 'Edit', edit_vinculacion_path(@vinculacion) %> |
<%= link_to 'Back', vinculacions_path %>
